.FlashCards {
  /* Fill parent */
  flex: 1;
}

.FlashCards > * {
  justify-content: center;
  align-items: center;
}

.DeckSelection {
  display: flex;
}

.FlashCard > * {
  background-color: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-content {
  font-size: 15vw;
}

.card-deck {
  font-size: 4vw;
  /* Hack to remove horizontal scrollbar; don't understand root issue. */
  width: 100%;
}

.AllDecksOptions > *,
.SingleDeckTypeOptions > * {
  display: flex;
  margin: 10px;
  justify-content: center;
}

input[name="card-reverse"],
input[name="notesAreShuffled"] {
  margin: 5px;
}
