.FlashCards {
  /* Fill parent */
  flex: 1;
}

.FlashCards > * {
  justify-content: center;
  align-items: center;
}

.deck-selection {
  display: flex;
  flex-direction: column;
}

.deck-selection-row {
  display: flex;
}

.deck-selection-row-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.card > * {
  background-color: inherit;
}

.card-content {
  font-size: 15vw;
}

.card-deck {
  font-size: 4vw;
}

.card-options {
  display: flex;
  margin: 5px;
  justify-content: center;
}

input[name="card-reverse"] {
  margin: 5px;
}
