.FlashCards {
  /* Fill parent */
  flex: 1;
}

.FlashCards > * {
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

.card > * {
  background-color: inherit;
}

.card-content {
  font-size: 15vw;
}

.card-deck {
  font-size: 2vw;
}