.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  display: flex;
}

.wrapper * {
  color: rgb(236, 236, 245);
  background-color: black;
}

.page-header,
.page-footer {
  justify-content: center;
  align-items: center;
}

.page-header {
  height: 5vh;
}

.page-footer {
  height: 10vh;
}

.page-main {
  flex-grow: 1;
}
